Hi! Here's a tutorial on... 

If you have any problems, please email: dexterkim2000@gmail.com

Please run the following cell before continuing.

In [6]:
#MEDPC functions imports, will print "I am being executed!" if functional
import rgt_functions as rgt

#main imports 
import os
import pandas as pd
import numpy as np

# plotting imports 
import matplotlib.pyplot as plt
from matplotlib.ticker import MaxNLocator

# stats imports 
import scipy.stats as stats

#the following line prevents pandas from giving unecessary errors 
pd.options.mode.chained_assignment = None

I am being executed!

Check your current working directory by running line 2. 

From your working directory, make a data folder (call it: data), and add your .xlsx file into that folder. 

Change ('..\\PhD_data\\BH07') to your current working directory and add '\\data'

For example, my current working directory is 'C:\\Users\\dexte\\hathaway_1', so I enter 'C:\\Users\\dexte\\hathaway_1\\data' into the brackets (slashes will be different if you are not using windows). 

This saves all data in your data folder, instead of your current working directory. 

##default: just have their data in their cwd (easier option)
##future: write a function that will save files in separate folder (for them)

In [7]:
#checks current working directory
os.getcwd()

#changes working directory to whatever is included in brackets
os.chdir('C:\\Users\\dexte\\hathaway_1\\data')

##Set your variables! These will be used later in the code. Example arguments are left in for clarity.

###Brett will edit

In [8]:
#we need to set a few variables for loading in the data - these will change depending on the dataset

#in file_names (List[str]), add the file names you wish to read into Python 
file_names = ['BH07_raw_free_S29-30.xlsx']

#in group_names (List[str]), add the names of the control and experimental group, respectively 
group_names = ['Tg negative','Tg positive'] 

title = 'Nigrostriatal activation during acquisition' #title for figures, describing the experiment
startsess = 29 #first session in this dataset
endsess = 30 #last session in this dataset

group_names = {0: 'tg negative',
              1: 'tg positive'}

#the following two lines of code assign the rat subject numbers to the experimental and control group lists
exp_group = [1, 2, 7, 8, 11, 12, 16, 19, 20, 21, 22, 25, 26, 29, 32] #Tg positive

control_group = [3, 4, 5, 6, 9, 13, 14, 15, 17, 18, 23, 24, 27, 28, 30, 31] #Tg negative

Time to load your data into Python! 

load_data takes in one argument: file_names 

Recall: file_names is the object assigned to the list of files you want to read into Python. Make sure this is correct! If this is your first run through the code, maybe try loading in just one file. 

load_data outputs a table similar to the excel sheet(s) you loaded in. (in the order established in file_names)

In [9]:
rgt.load_data(file_names)

df = rgt.load_data(file_names)

#load_data won't output a dataframe itself. Use the following function to view the top of your dataframe. Note: it should look the exact same as your first excel file. 

df.head()

,MSN,StartDate,StartTime,Subject,Group,Box,Experiment,Comment,Session,Trial,...,Pun_Persev_H5,Pun_HeadEntry,Pun_Dur,Premature_Resp,Premature_Hole,Rew_Persev_H1,Rew_Persev_H2,Rew_Persev_H3,Rew_Persev_H4,Rew_Persev_H5
0,rGT_A-cue,2020-10-09,11:01:00,25,0.0,1,0.0,NaN,29,1.0,...,3,3,30,0,0,0,0,0,0,0
1,rGT_A-cue,2020-10-09,11:01:00,25,0.0,1,0.0,NaN,29,2.1,...,0,0,0,1,5,0,0,0,0,0
2,rGT_A-cue,2020-10-09,11:01:00,25,0.0,1,0.0,NaN,29,2.0,...,3,2,30,0,0,0,0,0,0,0
3,rGT_A-cue,2020-10-09,11:01:00,25,0.0,1,0.0,NaN,29,3.0,...,0,0,0,0,0,0,0,0,0,0
4,rGT_A-cue,2020-10-09,11:01:00,25,0.0,1,0.0,NaN,29,4.0,...,2,2,30,0,0,0,0,0,0,0